/*projet ohmyfood*/
h1{
    font-family: "shrikhand", cursive;
    font-size: 1.1rem;
    font-weight: 100;
} 

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:black;
}

p{
    font-weight: 300;
    font-size: 1.1em;
}

h2{
    font-size: 1.6em;
}

h3{
    font-size: 1em;
    font-weight: 500;
}

h4{
    font-weight: 500;
    font-size: 0.9em;
    margin-top: 10px;
}

span{
    font-weight: 500;
    font-size: 0.9em;
}

#page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    flex-grow: 1;
}

/*page d'accueil*/

/*header*/
#logo{
    display: block;
    width: 160px;
    height: 30px;
    margin: 20px auto 0 auto;
}

/*premiere section*/
.introduction__section{
    background-color: rgba(0, 0, 0, 0.04);
    width: 100%;
}
 
/* bloc location de la premiere section*/
.location{
    background-color: rgba(0, 0, 0, 0.07);
    text-align: center;
    height: 50px;
    line-height: 50px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    margin-left: -20px;
    color: rgba(0, 0, 0, 0.7)
}

.location__icon{
    padding-right: 15px;
    font-size: 0.9em; 
}

/*bloc introduction de la premiere section*/
.introduction{
    text-align: center;
    padding: 15px 30px;
    
}

.introduction p{
    color: rgba(0, 0, 0, 0.7)
}

.introduction h2{
    padding-right: 20px;
}

.btn{   
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(to left top, #9356DC, #FF79DA);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.introduction .btn{
    width: 220px;
    margin-top: 10px;
    margin-bottom: 30px;
}


/*section concept*/
.concept{
    width: 90%;
    margin: 50px auto 70px auto;
}
.concept__card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.04);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.13);
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 12.5px;
}

.concept__card p{
    display: block;
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    line-height: 27px;
    background-color: #9356DC;
    border-radius: 50%;
    font-size: 0.9em;
    font-weight: 500;
    margin-left: -12.5px;
}

.concept__icon{
    width: 20px;
    height: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    padding-left: 20px;
    padding-right: 20px; 
    text-align: center;
}

.concept__card:first-child .concept__icon{
    font-size: 1.3em;
}

.concept__card:last-child{
    background-color: rgba(147, 86, 220, 0.12);
}

.concept__card:last-child .concept__icon{
    color: #9356DC;
}


/*section restaurants*/
.restaurant__card{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 250px;
    margin: 15px auto;
    background-color: white;
    line-height: 10px;
    border-radius:  15px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.13);
    position: relative;
}

.restaurant__card img{
    height: 175px;
    width: 100%;
    object-fit: cover;
    border-radius:15px 15px 0 0;
}

.restaurant__card__insert{
    background-color: #99e2d0;
    width: 80px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 2.5px;
    color: hsl( 165 85% 30%);
    text-align: center;
}

.like-btn{
    color: #000;
    position: absolute;
    right: 25px;
    bottom: 30px;
    font-size: 1.7em;
    font-weight: 100;
    -webkit-text-stroke: 1.5px white;
    cursor: pointer;   
}

.like-btn--active{
    position: absolute;
    right: 25px;
    bottom: 30px;
    font-size: 1.7em;
    cursor: pointer; 
    color: #9356dc;
    display: block;
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    scale: 0;
}

.restaurant{
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 1275px;
}

.restaurant__card h3{
    padding-left:15px;
    font-weight: 600;
}

.restaurant__card p{
    padding-left:15px;
}

.restaurant h2{
    font-size: 1.5em;
    line-height: 0;
    padding-left: 5%;
    margin-top: 70px;
}


/*footer*/


footer{
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    padding: 1px 0;
    height: 200px;
    font-weight: 400;
}

footer a{
    color: white;
}

footer h1{
    padding-top: 10px;
    padding-left: 5%;
}

ul{
    list-style-type: none;
    padding-left: 5%;
    margin-top: 5px;
}

.footer__list{
    display: flex;
    align-items: center;
    height: 20px;
    color: white;
}

.footer__icon{
    font-size: 0.9em;
    padding-right: 12px;
}

footer p{
    font-size: 1em;
    font-weight: 400;
}

li{
    padding-top: 8px;
}

ul :nth-child(2) .footer__icon{
    font-size: 0.6em;
}

/*page de menu*/

/*header*/


.header__icon{
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.8);
}


/*section du menu*/
.header__menu{
    position: relative;
    height: 60px;
}

.header__icon{
    position: absolute;
    top: 25px;
    left: 20px;
}

.menu__bloc{
    background-color: hsl(0, 0%, 95%);
}
.menu__picture img{
    width: 100%;
    height: 260px; 
}

.menu__section{
    position: relative;
    z-index: 2;
    border-radius: 50px 50px 0 0;
    background-color: hsl(0, 0%, 95%);
    margin-top: -55px;
}

.menu__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 0 20px; 
}

.menu__head h1{
    font-size: 1.8em;
}

h1+.like-btn{
    position:static;
}

.menu h2{
    display: block;
    width: 40px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 400;
    font-size: 1em;
    border-bottom: 3px solid #99e2d0;
    padding-bottom: 5px;
    margin-left: 20px;
}

.menu__card{
    display: flex;
    flex-direction: column; 
    padding-left: 10px; 
    width: 280px;
}

.menu__card p{
    font-size: 0.95em;
    font-weight: 300;
    color:rgba(0, 0, 0, 0.85);
    margin: 0;  
}

.menu__card h3{
    width: 100%;
    margin-top: 15px;
    font-size: 1.15em;
    margin-bottom: 5px;
}

.menu__price{
    color:rgba(0, 0, 0, 0.7);
    padding-top: 20px;
    width: 40px;
}

.menu__price span{
    font-weight: 700;
}

.menu__card--active{
    border-radius: 15px;
    background-color: #fff;
    height: 70px;
    margin: 15px 3.5%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.13);
    display: flex;
    justify-content: space-between;
}

.menu__section .check-btn{
    border-radius: 0 15px 15px 0;
    color: #fff;
    background-color: #99e2d0;
    padding: 27px 20px;
    cursor: pointer;
    display: none;
}

.menu__bloc .btn{
    width: 50%;
    margin: 50px 25% 80px 25%;       
}


/* format tablette 576 à 992px*/
@media (min-width: 576px) and (max-width: 1199px){

    /*page d'accueil*/
    .concept__card{
        max-width: 490px;
    }

    .concept{
        width: 490px;
    }

    .restaurant-card-panel{
        display: flex;
        flex-flow: row wrap;
        margin-left: 2.5%; 
    }

    .restaurant__card{
        width: 42.5%;
        margin-left: 2.5%;
    }

    .restaurant{
        height: 750px;
    }
   
}



/*format desktop 1200+px*/
@media (min-width: 1200px){

    /*page d'accueil*/
    .concept{
        width: 100%;
        display:flex;
        justify-content: flex-start;
        align-items: center;
    }

    .concept-card-panel{
        display: flex;
        justify-content: flex-start;
        width: 75%;
    }

    .concept__card{
        width: 27%;
        max-width: 500px;
        margin-left: 50px;   
    }

    .concept h2{
        padding-left: 5%; 
        padding-top: 25px;
    }

    .concept__icon{
        padding-left: 10px;
        padding-right: 10px;
    }

    .restaurant-card-panel{
        display: flex;
        margin-left: 4%;
    }

    .restaurant__card{
        width: 22%;
        margin: 1%;
    }

    .restaurant{
        height: 500px;
    }
}