/*projet ohmyfood*/
h1{
    font-family: "shrikhand", cursive;
    font-size: 1.1rem;
    font-weight: 100;
} 

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:black;
}

p{
    font-weight: 300;
    font-size: 1.1em;
}

h2{
    font-size: 1.6em;
}

h3{
    font-size: 1em;
    font-weight: 500;
}

h4{
    font-weight: 500;
    font-size: 0.9em;
    margin-top: 10px;
}

span{
    font-weight: 500;
    font-size: 0.9em;
}

#page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    animation: bloc-page 150ms 1850ms both;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}


@keyframes bloc-page{
    from{
        opacity: 0;
    }
    
    to{
        opacity:1;
    }
}

.content{
    flex-grow: 1;
}

/*page d'accueil*/

/*loading-spinner*/
.loading__spinner{
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15em;
    animation: loading-wheel 1850ms 100ms both;
    margin-top: 100px;
}

.loading{
    text-align: center;
    width: 100%;    
}

@keyframes loading-wheel{
    0%{
        transform: rotate(0deg);
        transform: translateX(0);
        opacity: 1;
    }
    20%{
        transform: rotate(160deg);
    }
    
    45%{
        transform: rotate(360deg);
    }
    70%{
        transform: rotate(560deg);
        opacity: 1;

    }
    
    90%{
        
        opacity: 0.7;
    }
    95%{
        transform: translateX(0);
    }
    100%{
        transform: rotate(800deg);
        transform: translateX(-9999px);
        opacity: 0.5;
    }
}


/*header*/
#logo{
    display: block;
    width: 160px;
    height: 30px;
    margin: 20px auto 0 auto;
}

/*premiere section*/
.introduction__section{
    background-color: rgba(0, 0, 0, 0.04);
    width: 100%;
}
 
/* bloc location de la premiere section*/
.location{
    background-color: rgba(0, 0, 0, 0.07);
    text-align: center;
    height: 50px;
    line-height: 50px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    margin-left: -20px;
    color: rgba(0, 0, 0, 0.7)
}

.location__icon{
    padding-right: 15px;
    font-size: 0.9em; 
}

/*bloc introduction de la premiere section*/
.introduction{
    text-align: center;
    padding: 15px 30px;
    
}

.introduction p{
    color: rgba(0, 0, 0, 0.7)
}

.introduction h2{
    padding-right: 20px;
}

.btn{   
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(to left top, #9356DC, #FF79DA);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.btn::after{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 25px;
    background: linear-gradient(to left top, #9356DC, #FF79DA);
    filter: brightness(1.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    z-index: -1;
    transition: opacity 250ms;
}

.btn:hover::after{
    opacity: 1;
    border-radius: 25px;
}

.introduction .btn{
    width: 220px;
    margin-top: 10px;
    margin-bottom: 30px;
}


/*section concept*/
.concept{
    width: 90%;
    margin: 50px auto 70px auto;
}
.concept__card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.04);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.13);
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 12.5px;
}

.concept__card p{
    display: block;
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    line-height: 27px;
    background-color: #9356DC;
    border-radius: 50%;
    font-size: 0.9em;
    font-weight: 500;
    margin-left: -12.5px;
}

.concept__icon{
    width: 20px;
    height: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    padding-left: 20px;
    padding-right: 20px; 
    text-align: center;
}

.concept__card:first-child .concept__icon{
    font-size: 1.3em;
}

.concept__card:last-child{
    background-color: rgba(147, 86, 220, 0.12);
}

.concept__card:last-child .concept__icon{
    color: #9356DC;
}


/*section restaurants*/
.restaurant__card{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 250px;
    margin: 15px auto;
    background-color: white;
    line-height: 10px;
    border-radius:  15px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.13);
    position: relative;
}

.restaurant__card img{
    height: 175px;
    width: 100%;
    object-fit: cover;
    border-radius:15px 15px 0 0;
}

.restaurant__card__insert{
    background-color: #99e2d0;
    width: 80px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 2.5px;
    color: hsl( 165 85% 30%);
    text-align: center;
}


.restaurant__card .fa-stack {
    position: absolute;
    width: 28px;
    right: 25px;
    bottom: 20px;
    font-size: 1.5em;
    cursor: pointer;
}

.fa-stack .like-btn__inside{
    opacity: 0;
}

.fa-stack:hover .like-btn, .like-btn__inside{
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-stack:hover .like-btn__inside{
    opacity: 1;
    transition: 1600ms;
}

.restaurant{
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 1275px;
}

.restaurant__card h3{
    padding-left:15px;
    font-weight: 600;
}

.restaurant__card p{
    padding-left:15px;
}

.restaurant h2{
    font-size: 1.5em;
    line-height: 0;
    padding-left: 5%;
    margin-top: 70px;
}


/*footer*/


footer{
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    padding: 1px 0;
    height: 200px;
    font-weight: 400;
}

footer a{
    color: white;
}

footer h1{
    padding-top: 10px;
    padding-left: 5%;
}

ul{
    list-style-type: none;
    padding-left: 5%;
    margin-top: 5px;
}

.footer__list{
    display: flex;
    align-items: center;
    height: 20px;
    color: white;
}

.footer__icon{
    font-size: 0.9em;
    padding-right: 12px;
}

footer p{
    font-size: 1em;
    font-weight: 400;
}

li{
    padding-top: 8px;
}

ul :nth-child(2) .footer__icon{
    font-size: 0.6em;
}

/*page de menu*/

#page__restaurant{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*header*/

.header__icon{
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.8);
}


/*section du menu*/
.header__menu{
    position: relative;
    height: 60px;
}

.header__icon{
    position: absolute;
    top: 25px;
    left: 20px;
}

.menu__bloc{
    background-color: hsl(0, 0%, 95%);
}
.menu__picture img{
    width: 100%;
    height: 260px; 
}

.menu__section{
    position: relative;
    z-index: 2;
    border-radius: 50px 50px 0 0;
    background-color: hsl(0, 0%, 95%);
    margin-top: -55px;
}

.menu__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10% 0 20px; 
}

.menu__head h1{
    font-size: 1.8em;
}

.menu__head .fa-stack{
    font-size: 1.5em;
    width: 30px;
    cursor: pointer;
}

h1+.like-btn{
    position:static;
    color: hsl(0, 0%, 95%);
}

.menu h2{
    display: block;
    width: 40px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 400;
    font-size: 1em;
    border-bottom: 3px solid #99e2d0;
    padding-bottom: 5px;
    margin-left: 4.5%;
}

.menu__card{
    display: flex;
    flex-direction: column;
    width: 100%; 
    min-width: 30%; 
}

.menu__card p{
    font-size: 0.95em;
    font-weight: 300;
    color:rgba(0, 0, 0, 0.85);
    margin: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
     
}

.menu__card h3{
    margin-top: 15px;
    font-size: 1.15em;
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}

.menu__price{
    color:rgba(0, 0, 0, 0.7);
    padding-top: 20px;
    width: 60px;
    text-align: center;
}

.menu__price span{
    font-weight: 700;
}



.menu__card--active{
    border-radius: 15px;
    background-color: #fff;
    height: 70px;
    margin: 15px 3.5%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.13);
    display: flex;
    overflow: hidden;
    cursor: pointer;
    padding-left: 10px;
    
}

.menu__check{
    display: flex;
    justify-content: flex-end;
}

.check__box{
    color: #fff;
    background-color: #99e2d0;
    line-height: 70px;
    width: 0;
    transition: width 1s;
    text-align: center;     
}

.menu__card--active:hover .check__box{
    width: 60px;
}

.menu__card--active:hover .fas{
    animation:  rotation 1s  both;
}

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{       
        transform: rotate(360deg);
    }
}


.menu__bloc .btn{
    width: 50%;
    margin: 20px 25% 80px 25%;       
}

.menu{
    margin-bottom: 40px;
}

@keyframes delay{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.menu:first-child{
    animation: delay 1s 500ms both;
}

.menu:nth-child(2){
    animation: delay 1s 1s both;
}

.menu:last-child{
    animation: delay 1s 1500ms both;
}


/* format tablette 576 à 1199px*/
@media (min-width: 576px) and (max-width: 1199px){

    /*page d'accueil*/
    .concept__card{
        max-width: 490px;
    }

    .concept{
        width: 490px;
    }

    .restaurant-card-panel{
        display: flex;
        flex-flow: row wrap;
        margin-left: 2.5%; 
    }

    .restaurant__card{
        width: 42.5%;
        margin-left: 2.5%;
    }

    .restaurant{
        height: 750px;
    }

    /*page de menu*/
    .menu__picture{
        width: 530px;
        margin: auto;    
    }

    .menu__picture img{
        border-radius: 50px;
        margin-top: 20px;
        object-fit: cover;
    }

    .menu{
        width: 100%;
        max-width: 570px;
        margin: auto;
        margin-bottom: 40px;
    }

    .menu__section{
        width: 100%;
        margin-top: 0;
    }

    .menu__head{
        max-width: 530px;
        margin: auto;
        padding-left: 30px;
    }

    .menu__bloc .btn{
        display: block;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .menu__bloc{
        height: 1600px;
    }
   
}



/*format desktop 1200+px*/
@media (min-width: 1200px){

    /*page d'accueil*/
    .concept{
        width: 100%;
        display:flex;
        justify-content: flex-start;
        align-items: center;
    }

    .concept-card-panel{
        display: flex;
        justify-content: flex-start;
        width: 75%;
    }

    .concept__card{
        width: 27%;
        max-width: 500px;
        margin-left: 50px;   
    }

    .concept h2{
        padding-left: 5%; 
        padding-top: 25px;
    }

    .concept__icon{
        padding-left: 10px;
        padding-right: 10px;
    }

    .restaurant-card-panel{
        display: flex;
        margin-left: 4%;
    }

    .restaurant__card{
        width: 22%;
        margin: 1%;
    }

    .restaurant{
        height: 500px;
    }

    /*page de menu*/

    .menu__picture{
        width: 530px;
        margin: auto; 
           
    }

    .menu__picture img{
        border-radius: 50px;
        margin-top: 20px;
        object-fit: cover;
    }

    .menu__section{
        width: 100%;
        margin-top: 0;
    }

    .menu__panel{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;   
    }

    .menu{
        width: 32%;
    }

    .menu__head{
        width: 530px;
        margin: auto;
    }

    .menu__bloc .btn{
        display: block;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .menu__bloc{
        height: 1000px;
    }
}